<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="/static/scripts/pieces.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Board</title>
    <link rel="stylesheet" href="static/styles/board.css">
</head>

<body>
    <div class="chess-board">
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <!-- End of one row -->
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <!-- End of one row -->
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <!-- End of one row -->
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <!-- End of one row -->
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">
                <svg class="chess-piece" draggable="true" ondragstart="dragPiece(event)" preserveAspectRatio="xMidYMid meet">
                    <use href="static/images/pieces.svg#black-king"></use>
                </svg>
            </div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <!-- End of one row -->
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <!-- End of one row -->
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <!-- End of one row -->
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square">
                <svg class="chess-piece" draggable="true" preserveAspectRatio="xMidYMid meet">
                    <use href="static/images/pieces.svg#white-knight"></use>
                </svg>
            </div>
            <div class="square">
                <svg class="chess-piece" draggable="true" preserveAspectRatio="xMidYMid meet">
                    <use href="static/images/pieces.svg#white-king"></use>
                </svg>
            </div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <!-- End of one row -->
    </div>
</body>

</html>
