{{define "square"}}
<div class="square" ondrop="drop(event)" ondragover="allowDrop(event)">
    {{if eq . "k"}}
        {{template "pieces/black-king"}}
    {{else if eq . "K"}}
        {{template "pieces/white-king"}}
    {{else if eq . "q"}}
        {{template "pieces/black-queen"}}
    {{else if eq . "Q"}}
        {{template "pieces/white-queen"}}
    {{else if eq . "b"}}
        {{template "pieces/black-bishop"}}
    {{else if eq . "B"}}
        {{template "pieces/white-bishop"}}
    {{else if eq . "n"}}
        {{template "pieces/black-knight"}}
    {{else if eq . "N"}}
        {{template "pieces/white-knight"}}
    {{else if eq . "r"}}
        {{template "pieces/black-rook"}}
    {{else if eq . "R"}}
        {{template "pieces/white-rook"}}
    {{else if eq . "p"}}
        {{template "pieces/black-pawn"}}
    {{else if eq . "P"}}
        {{template "pieces/white-pawn"}}
    {{else}}
    {{end}}
</div>
{{end}}
