body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #414141;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 11vmin);
  grid-template-rows: repeat(8, 11vmin);
}

.square {
  width: 11vmin;
  height: 11vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Alternate the colors */
.chess-board .square:nth-of-type(odd) {
  background-color: #B58863; /* Dark squares */
}

.chess-board .square:nth-of-type(even) {
  background-color: #F0D9B5; /* Light squares */
}

.chess-board .row:nth-child(even) .square:nth-of-type(odd) {
  background-color: #F0D9B5;
}

.chess-board .row:nth-child(even) .square:nth-of-type(even) {
  background-color: #B58863;
}


.chess-piece {
  width: 100%;
  height: auto;
}

/* Example of a hover effect */
.chess-piece:hover {
  opacity: 0.8;
}
